# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=scrooge_bank
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379

# JWT Configuration
JWT_ACCESS_SECRET=supersecret
JWT_ACCESS_TOKEN_EXPIRATION_TIME=15m

BANK_BASE_CASH_AMOUNT=250000

# Application Configuration
NODE_ENV=development
PORT=3000
